@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@model CTTH_MVC.Models.User_mail 
    ////////////////
    @Model.email
@Model.password