<!--ghi zayda-->
@{
    ViewBag.Title = "Espace telechargement ";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}
<link href="~/Content/css/Style2.css" rel="stylesheet" />
<script src="~/Content/fontawesome-free-5.13.0-web/js/all.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <div class="hero-container">


        <table class="table table-striped" style="font-size:15px">
            <thead class="thead-dark">
                <tr>



                    <th scope="col">Description</th>
                    <th scope="col">Date de disposition</th>
                    <th scope="col">fichier pdf</th>
                </tr>
            </thead>
            <tbody>
                @{


                    string str = "Get?path=/963852.pdf";




                    <tr>
                        <th>
                            Presentation du ctth
                        </th>
                        <th>
                            02/02/2020
                        </th>
                        <th>





                            <button type="button" class="btn btn-success">
                                <a href=@str title="Ouvrir fichier PDF" style="font-size:10px;color:white">Voir</a>
                            </button>



                        </th>
                    </tr>
                    string str2 = "Get?path=/963852.pdf";




                    <tr>
                        <th>
                            Attestation
                        </th>
                        <th>
                            02/02/2020
                        </th>
                        <th>





                            <button type="button" class="btn btn-success">
                                <a href=@str2 title="Ouvrir fichier PDF" style="font-size:10px;color:white">Voir</a>
                            </button>



                        </th>
                    </tr>
                    string str3 = "Get?path=/963852.pdf";




                    <tr>
                        <th>
                            Bulletin
                        </th>
                        <th>
                            02/02/2020
                        </th>
                        <th>





                            <button type="button" class="btn btn-success">
                                <a href=@str3 title="Ouvrir fichier PDF" style="font-size:10px;color:white">Voir</a>
                            </button>



                        </th>
                    </tr>
                }

            </tbody>
        </table>

    </div>



<section class="about" style="position:static;bottom:500px">
    <div class="container">

        <div class="row no-gutters">


                            <div class="col-lg-6 video-box">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FMedias24%2Fvideos%2F1071720613184249%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>


                            <div class="col-lg-6 video-box">

                                
                                <iframe src="https://2m.ma/ar/replay/embed/grand-angle-29052020-1a8c9b643-f307-4cda-854c-f46bd230a929" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                    </iframe>
</div>

        </div>

    </div>
</section><!-- End About Us Section -->
