@{
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}

@{
    ViewBag.Title = "CTTH";
}



<head>
    <meta charset="utf-8">
    <!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <style type="text/css">
        #map { /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height: 400px;
        }
    </style>
    <title>Carte</title>
</head>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
       
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('Content/img/slide/logo2.png');background-size: 1000px 800px;
  background-repeat: no-repeat;">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animated fadeInDown">Bienvenue à <span>CTTH</span></h2>
                            <p class="animated fadeInUp">
                                DÉNOMINATION	CENTRE TECHNIQUE DU TEXTILE ET DE L’HABILLEMENT<br />
                                ABRÉVIATION	CTTH        <br />
                                DATE DE CRÉATION	1998<br />
                            </p>
                            <a href="#about" class="btn-get-started animated fadeInUp scrollto">Savoir Plus </a>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="col-lg-6 video-box">
                    <img src="Content/img/about.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

                    <div class="section-title">
                        <h2>A propos de nous</h2>
                        <p>CTTH</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Centre Technique Textile Habillement (C.T.T.H.) </a></h4>
                        <p class="description">
                            Le Centre technique du textile et de l’habillement (CTTH) a été fondé en 1998. Il est le premier centre au Maroc dédié au secteur textile et habillement.
                            Le CTTH a comme mission principale l’amélioration des performances des entreprises du secteur à travers une large offre de services.


                        </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">C.T.T.H</a></h4>
                        <p class="description">
                            Le CTTH a comme mission principale l’amélioration des performances des entreprises du secteur à travers une large offre de services.

                            <img src="~/Content/img/tqble.png" style="width:100%;" />
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= About Lists Section ======= -->
    <section class="about-lists"></section><!-- End About Lists Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">



        </div>
    </section><!-- End Services Section -->
    <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="section-title">
                <h2>Nos Services</h2>
                <p>++++++++++++++++++</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Tous les Services </li>
                        <li data-filter=".filter-elaboration">
                            Elaboration de plans de formations
                        </li>
                        <li data-filter=".filter-Formations">
                            Formations / séminaires
                        </li>
                        <li data-filter=".filter-realisation">
                            Réalisation d’audit ou diagnostics techniques
                        </li>
                        <li data-filter=".filter-Assistance">
                            Assistance technique
                        </li>
                        <li data-filter=".filter-dev">
                            Recherche et développement
                        </li>


                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">
                <!-- Formations -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-Formations">
                    <div class="portfolio-wrap">

                        <img src="~/Content/img/portfolio/formation.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/formation.jpg" data-gall="portfolioGallery" class="venobox" title="Formations / séminaires"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <b>
                            Assurer des formations répondant aux besoins de chaque entreprise. Ces formations peuvent avoir lieu dans le terrain (en entreprise), ou en salle sous forme de cours ou de séminaire présentant des nouveautés.
                        </b>
                    </div>
                </div>


                <!--Realisation-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-realisation">
                    <div class="portfolio-wrap">

                        <img src="~/Content/img/portfolio/audit.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>
                                Réalisation d’audit ou diagnostics techniques
                            </h4>
                            <p>Voir</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/audit.jpg" data-gall="portfolioGallery" class="venobox" title="Réalisation d’audit ou diagnostics techniques"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <b>
                            Etudier les activités des fonctions principales de l’entreprise pour :<hr />
                            - Recenser les points forts et ceux à améliorer<br />
                            - Mettre en place un plan d’amélioration en accord avec les objectifs du chef d’entreprise<br />

                        </b>
                    </div>
                </div>

                <!--Assistance-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-Assistance">
                    <div class="portfolio-wrap">


                        <img src="~/Content/img/portfolio/Assistance.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>
                                Assistance technique

                            </h4>
                            <p>Voir</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/Assistance.png" data-gall="portfolioGallery" class="venobox" title="Assistance technique
"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <b>
                            Le CTTH dispose d’un savoir faire éprouvé en matière de résolutions de problèmes liés à la productivité, la qualité, le rendement… Nos experts et consultants s’appuient sut des méthodologies  éprouvées s’appuyant sur plusieurs projets menés avec succès.


                        </b>
                    </div>
                </div>

                <!-- ELABORATION  -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-elaboration">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/elaboration.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Elaboration de plans de formations</h4>
                            <p>Voir </p>

                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/elaboration.jpg" data-gall="portfolioGallery" class="venobox" title="Elaboration de plans de formations
"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <b>
                            Dégager les écarts entre les compétences existantes et celles nécessaires au bon fonctionnement de l’entreprise. Ces écarts seront comblés par la réalisation de différentes formations listées et planifiées dans une ingénierie de formation.
                        </b>

                    </div>
                </div>

                <!--Formation -->
                <!--       <div class="col-lg-4 col-md-6 portfolio-item filter-Formations">
                                    <div class="portfolio-wrap">
                                        <img src="Content/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                                        <div class="portfolio-info">
                                            <h4>App 1</h4>
                                            <p>App</p>
                                            <div class="portfolio-links">
                                                <a href="Content/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                -->
                <!--Dev-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-dev">
                    <div class="portfolio-wrap">


                        <img src="~/Content/img/portfolio/rech.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>
                                Recherche et développement
                            </h4>
                            <p>
                                Voir
                            </p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/rech.jpg" data-gall="portfolioGallery" class="venobox" title="Recherche et développement
"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <b>

                            - Optimiser des processus industriels, ou appliquer de nouveaux processus validés scientifiquement.<br />
                            - Industrialiser les processus da fabrication de nouvelles étoffes (travail en partenariat avec les centres de recherche universitaires, les clusters et les entreprises).<br />
                            -Plateforme de recherche et développement pour les nouveaux produits et procédé chimiques et  recherches en chimie textile en relation avec le délavage.<br />
                            -Disposer d’une plateforme de formation continue.<br />
                            -Devenir le centre de veille technologique, et d’information sur les tendances au niveau du délavage.<br />
                            -Devenir la locomotive de la filière denim vers une production  ECO-FRIENDLY.<br />
                            Tests délavage
                            -Proposer un service de conseil en délavage, standardisation des process, et  réalisation de collections délavées pour les membres ou prestation de service. Ces différents services feront l’objet d’une facturation.
                            -Outil pour la création de norme marocaine relative au délavage durable.<br />


                        </b>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team"></section><!-- End Our Team Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg"></section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact Us</h2>
            </div>

            <div class="row">

                <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Notre  Addresse</h3>
                        <p>Route BO 50,Sidi Maarouf - Casablanca </p>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Envoyer vos Conseils et vos Reclamations</h3>
                        <p>rachhboune@ctth.ma</p>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box ">
                        <i class="bx bx-phone-call"></i>
                        <h3>Appler nous </h3>
                        <p><br>+212 522 97 56 93 </p>
                    </div>
                </div>

                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">

                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail </label>
                            @Html.TextBox("m", null, new { @class = "form-control" })
                            <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            @Html.Password("p", null, new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            <label for="subject">Subject</label>
                            @Html.TextBox("subject", null, new { @class = "form-control" })
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="message">message</label>
                            @Html.TextArea("message", null, new { @class = "form-control" })
                            <div class="validate"></div>

                        </div>
                        <button type="submit" name="seconnecter" value="etudiant" class="btn btn-primary">S'authentifier</button>
                    }
                </div>

            </div>

        </div>


        <fieldset>
            <legend style="font-family: Arial Black; color: blue; font-size: large;">CTTH </legend>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <div id="googleMap" style="height:400px;width:100%;"></div>
            <script>
                function myMap() {
                    var myCenter = new google.maps.LatLng(33.523039, -7.646977);
                    var mapProp = { center: myCenter, zoom: 15, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    var marker = new google.maps.Marker({ position: myCenter });
                    marker.setMap(map);
                }
            </script>

        </fieldset>


        <script src="https://maps.googleapis.com/maps/api/js? key=AIzaSyApkkj2S7az1Kl6EzHkVHUVRgRn8PVtYYU&callback=myMap" type="text/javascript"></script>
    </section><!-- End Contact Us Section -->





    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>

    <!-- Fichiers Javascript -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script type="text/javascript">
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 33.523039;
        var lon = -7.646977;
        var macarte = null;
        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map').setView([lat, lon], 16);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte); var marker = L.marker([lat, lon]).addTo(macarte);
        }
        window.onload = function () {
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap();
        }; 
    </script>

    
</main><!-- End #main -->
