@{
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}
@{
    ViewBag.Title = "MOT";
}

<h2>mot</h2>
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Our Team</h2>
            <p>Group 5 of the Advanced .Net project</p>
        </div>

        <div class="row">

            <div class="col-xl" data-aos="fade-up">
                <div class="member">
                    <div class="pic"><img src="~/Content/img/team/team-1.jpg" class="img-fluid" height="450" width="450"></div>
                    <div class="member-info">
                        <h4>Youssef baba</h4>
                        <span>Developer</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
</div></div></section>